<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header>CEO</ion-list-header>
    <ion-chip class="ion-margin-start">
        <ion-avatar>
            <ion-img src="../../../assets/img/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>Aaron Amiell </ion-label>
    </ion-chip>

    <ion-list-header>Programadors</ion-list-header>
    <ion-chip class="ion-margin-start">
        <ion-avatar>
            <ion-img src="../../../assets/img/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>Aaron Amiell</ion-label>
    </ion-chip>
    <ion-chip class="ion-margin-start">
        <ion-avatar>
            <ion-img src="../../../assets/img/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>Daniel Rovira</ion-label>
    </ion-chip>

    <ion-list-header>Marketing i estils</ion-list-header>
    <ion-chip class="ion-margin-start">
        <ion-avatar>
            <ion-img src="../../../assets/img/avatar.svg"></ion-img>
        </ion-avatar>
        <ion-label>Daniel Rovira</ion-label>
    </ion-chip>
    <h3 style="text-align: center; margin-top: 2%;">On trobar-nos?</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.7291209090577!2d0.5798775150970256!3d41.5967424792456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a72021d046cd1d%3A0x96462cdd6272567a!2sIES%20CAPARRELLA!5e0!3m2!1ses!2ses!4v1622834235329!5m2!1ses!2ses"
        width="420" height="300" style="border:0; margin-top: 2%;" allowfullscreen="" loading="lazy"></iframe>
</ion-content>