<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="secondary"></ion-back-button>
        </ion-buttons>
        <ion-title>Detalls de: {{recurs.titol}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<sc   ript type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/1fe59655/www-widgetapi.vflset/www-widgetapi.js" async=""></script>-->
    <!-- <scr   ipt src="https://www.youtube.com/iframe_api"></script> -->
    <ion-card>
        <img *ngIf="[(recurs.tipus_recurs)] == 'infografia'" [src]="'http://localhost/sintesi/api_private/imatge/'+recurs.id+'?token='+session.user.token" />
        <video *ngIf="[(recurs.tipus_recurs)] == 'video'" src="http://localhost/sintesi/api_private/imatge/'+recurs.id+'?token='+session.user.token" controls class="card-img-top " alt=" "></video>
        <div [style]="getVisibility()">
            <input type="hidden" id="link" [value]="recurs.link" />
            <div id="player"></div>
            <div style="margin-left: 25%;">
                <ion-button type="button " color="success" id="btstart " onclick="play() ">
                    <ion-icon name="play-outline"></ion-icon>&nbsp;PLAY</ion-button>
                <ion-button type="button " color="danger" id="bstop " onclick="stop() ">
                    <ion-icon name="stop-outline"></ion-icon>&nbsp;STOP</ion-button>
                <!-- <input type="range " id="volumen " onclick="volumen() "> -->
            </div>
            <ion-item>
                <ion-range min="0" max="100" pin color="primary" id="volumen" onclick="volumen()">
                    <ion-icon slot="start" size="small" name="volume-mute-outline"></ion-icon>
                    <ion-icon slot="end" name="contrast" name="volume-high-outline"></ion-icon>
                </ion-range>
            </ion-item>
        </div>
        <img *ngIf="[(recurs.tipus_recurs)] =='pissarra'" src="data:image/png;base64,{{recurs.pissarra}}" />
        <ion-card-header>
            <ion-card-title>{{recurs.titol}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{recurs.descripcio}}
        </ion-card-content>
        <ion-card-content [innerHTML]="recurs.explicacio ">
        </ion-card-content>
        <ion-card-content>
            <h2><b>Arxius Adjunts</b></h2>
        </ion-card-content>
        <ion-list>
            <!--*ngFor="let adjunt of adjunts; let i=index"-->
            <ion-item>
                <ion-label>Nom Arxiu
                    <!--{{adjunt.nom_original}}-->
                </ion-label>
                <ion-button color="secondary">
                    <ion-icon name="download-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>