<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content [fullscreen]="true">
        <br>
        <ion-grid>
            <ion-row>
                <ion-slides style="margin-top: 28%;">
                    <ion-slide>
                        <div>
                            <ion-img src="../../../assets/img/4.jpg"></ion-img>
                            <!-- <h3><b>Nicky Jam</b></h3> -->
                            <!-- <p>Nick Rivera Caminero, més conegut com Nicky Jam, és un cantant nord-americà nacionalitzat a Colòmbia de reggeaton i trap latino.</p> -->
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div>
                            <ion-img src="../../../assets/img/2.jpeg"></ion-img>
                            <!-- <h3><b>Omar Montes</b></h3> -->
                            <!-- <p>Omar Montes és un cantant espanyol que es va donar a conèixer per les seves aparicions en reality shows, en el seu paper de cantant, ha obtingut gran èxit.</p> -->
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div>
                            <ion-img src="../../../assets/img/1.jpg"></ion-img>
                            <!-- <h3><b>Nino Vargas</b></h3> -->
                            <!-- <p>Antonio Vargas Cortés, és un cantant espanyol gitano de flamenc i nou flamenc, fill del cantant, ballarí i guitarrista Changuito.</p> -->
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div>
                            <ion-img src="../../../assets/img/3.jpg"></ion-img>
                            <!-- <h3><b>Daddy Yankee</b></h3> -->
                            <!-- <p>Ramón Luis Ayala Rodríguez, més conegut com Daddy Yankee, és un raper, cantant, actor, productor discogràfic, locutor de ràdio i empresari porto-riqueny</p> -->
                        </div>
                    </ion-slide>
                </ion-slides>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>